html, body {
    overflow-x: hidden;
	height: 100%;
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade.show {
    opacity: 1;
}

 /* Define a transição de opacidade e escala */
 .card-img-top {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: scale(1); /* Define a escala padrão */
}

/* Classe para o efeito de escala */
.scale-up {
    transform: scale(1.01); /* Aumenta a escala temporariamente */
}
